.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.exploreContainer {
  width: 90%;
}

.exploreNav {
  display: flex;
  list-style: none;

  li {
    margin-left: 5px;
    margin-right: 5px;
  }

  li:hover {
    cursor: pointer;
  }
}

.trending {
  text-decoration: underline;
}

.graphFilter {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;

  .timeFilter {
    display: flex;
    list-style: none;

    li {
      margin-left: 5px;
      margin-right: 5px;
    }

    li:hover {
      cursor: pointer;
    }
  }
}

.detailsContainer {
  display: flex;

  .details {
    width: 50%;
  }
  .detailsChart {
    width: 50%;
  }
}
