.titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;

  .navContainer {
    display: flex;
    list-style: none;
    font-weight: bolder;

    li {
      margin-left: 10px;
      margin-right: 10px;
    }

    li:hover {
      cursor: pointer;
    }

    .explore {
      text-decoration: underline;
    }
  }

  .accountContainer {
    .account {
      span {
        margin-right: 20px;
      }
    }
  }
}
