.detailsContainer {
  display: flex;

  .details {
    display: flex;
    width: 50%;
    margin: 12px;
    padding: 12px;

    img {
      align-self: center;
    }

    .detailsData {
      position: relative;
      width: 100%;
      .modelInfo {
        display: flex;
        justify-content: space-between;

        .modelText {
        }

        .modelIcons {
          span {
            margin-left: 6px;
            margin-right: 6px;
          }
        }

        .modelIcons:hover {
          cursor: pointer;
        }
      }

      .priceInfo {
        margin-top: "500px";

        .priceRangeContainer {
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }
  .detailsChartContainer {
    width: 50%;
    margin: 12px;
    padding: 12px;

    .detailsChartHeader {
      display: flex;
      justify-content: space-between;
      .detailsPrice {
      }

      .timeFilter {
        display: flex;
        list-style: none;

        li {
          margin-left: 5px;
          margin-right: 5px;
        }

        li:hover {
          cursor: pointer;
        }
      }
    }
  }
}
