.detailsContainer {
  display: flex;

  .details {
    display: flex;
    width: 50%;
    margin: 10px;

    .detailsData {
      width: 100%;
      .modelInfo {
        display: flex;
        justify-content: space-between;

        .modelText {
        }

        .modelIcons {
          margin: 0;
        }
      }

      .priceInfo {
        margin-top: "500px";

        .priceRangeContainer {
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }
  .detailsChartContainer {
    width: 50%;
    padding: 10px;

    .detailsChartHeader {
      display: flex;
      justify-content: space-between;
      .detailsPrice {
      }

      .timeFilter {
        display: flex;
        list-style: none;

        li {
          margin-left: 5px;
          margin-right: 5px;
        }

        li:hover {
          cursor: pointer;
        }
      }
    }
  }
}
